[{{ filter_name }}_filter]
type = "SandboxFilter"
filename = "{{ filter.module_file }}"
{%- if filter.module_directory is defined %}
module_directory = "{{ filter.module_dir }}"
{%- endif %}
{%- if filter.message_matcher is defined %}
message_matcher = "{{ filter.message_matcher }}"
{%- endif %}
{%- if filter.preserve_data is defined %}
preserve_data = "{{ filter.preserve_data }}"
{%- endif %}
{%- if filter.ticker_interval is defined %}
ticker_interval = "{{ filter.ticker_interval }}"
{%- endif %}
{%- if filter.hostname is defined %}
hostname = "{{ filter.hostname }}"
{%- endif %}

{%- if filter.config is defined %}
[{{ filter_name }}_filter.config]
{%- for config_param, config_value in filter.config.iteritems() %}
{{ config_param }} = {% if config_value is string %}"{{ config_value }}"{% else %}{{ config_value }}{% endif %}
{%- endfor %}
{%- endif %}
