{%- load_yaml as server %}
Debian:
  pkgs:
  - heka
  user:
  - heka
  groups:
  - adm
  - syslog
RedHat:
  groups:
  - adm
{%- endload %}

{%- set server = salt['grains.filter_by'](server, merge=salt['pillar.get']('heka:server')) %}

