{%- load_yaml as server_defaults %}
Debian:
  pkgs:
  - acl
  - heka
  user:
  - heka
  groups:
  - adm
  - syslog
  service:
  - heka
  filter: {}
  splitter: {}
  encoder: {}
  decoder: {}
  extra_fields:
    environment_label: {{ grains.domain }}
  influxdb_time_precision: ms
RedHat:
  groups:
  - adm
  service:
  - heka
  pkgs:
  - acl
  - heka
{%- endload %}

{%- set server = salt['grains.filter_by'](server_defaults, merge=salt['pillar.get']('heka:server')) %}
